---
layout: home.njk
tags: footerNav
eleventyNavigation:
  key: ✒ أرشيف 
  order: 2
---

<h1>أرشيف</h1>

<table>
	<thead>
		<tr>
			<th>تاريخ</th>
			<th>عنوان</th>
		</tr>
	</thead>
	<tbody>
	{% for post in collections.posts | reverse %}
		<tr>
			<th>
				<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
			</th>
			<th>
				<a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
			</th>
		</tr>
{% endfor %}
	</tbody>
</table>
	<hr>
