---
layout: base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/{{ tag | slug }}/{% endset -%}
&nbsp;| <a href="{{ tagUrl | url }}" class="post-tag">{{ tag | localizeTag }}</a>
{%- endfor %}

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<div class="post-nav">
  {%- if nextPost %}
	  <div class="next-post">
		  <a class="nav-link" href="{{ nextPost.url | url }}">
			  <div>التالي&larr;<br/>{{ nextPost.data.title }}</div>
		  </a>
	  </div>
  {% endif %}
  {%- if previousPost %}
	  <div class="prev-post">
		  <a class="nav-link" href="{{ previousPost.url | url }}">
			  <div>&rarr;السابق<br/> {{ previousPost.data.title }}</a>
		  	</div>
	  </div>
  {% endif %}
</div>
{%- endif %}
{%- endif %}

<hr>
